<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/paris');">
  <div class="banner-content">
    <h1>WELCOME HOME</h1>
        <p>Rent unique places to stay from local hosts in 190+ countries.</p>
        <form class="form-inline" action="">
        <input type="checkin" class="form-control" placeholder="checkin">
        <input type="checkin" class="form-control" placeholder="checkout">
        <select name="quantity" id="quantity" class="form-control">
          <option value="1-guest">1 guest</option>
          <option value="2-guest">2 guest</option>
          <option value="3-guest">3 guest</option>
        </select>
        <input type="submit" name="" class="btn btn-primary" value="Search">
        </form>
      </div>
    </div>
  </div>
</div>
