.profile {
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.8);
  padding: 80px 10px;
  border-radius: 40px;
  position: relative;
  height: 250px;
  justify-content: space-around;

  .profile-img {
    position: absolute;
    top: -60px;
    left:-30px;
    justify-content: center;
    align-items: center;
  }
  .profile-name {
    position: absolute;
    top: -10px;
    left: 120px;
  }
  .profile-description {
    text-align: center;
    left:400px;
  }
  .profile-city {
    position: absolute;
    bottom: 0px;
    right:100px;
  }
  .profile-rating {
    position: absolute;
    top:10px;
    right:30px;
  }
}


@media (max-width: 572px) {
#container-profile {
  transform: scale(0.5);
  margin-right: 100px;
}
.profile {
  display: flex;
  background-color: rgba(255,255,255,0.8);
  padding: 80px 10px;
  border-radius: 40px;
  position: relative;
  height: 250px;
  width: 100vh;
  justify-content: space-around;
  }
}

